<h1>Jeux publiés par <a href="/editors/{{editeur.idEditeur}}/games">{{editeur.nomEditeur}}</a></h1>

{{#if jeux.length}}
    {{#each jeux}}
        <div>
            <h2><a href="/games/{{idJeu}}">{{titre}}</a></h2>
            <p><strong>Description :</strong> {{description}}</p>
            <p><strong>Date de sortie :</strong> {{dateDeSortie}}</p>

            {{#if genres}}
                <p><strong>Genres :</strong></p>
                <ul>
                    {{#each genres}}
                        <li><a href="/genres/{{genre.idGenre}}/games">{{genre.nomGenre}}</a></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    {{/each}}
{{else}}
    <p>Cet éditeur n'a encore publié aucun jeu.</p>
{{/if}}

<a href="/editors">Retour à la liste des éditeurs</a>
